@model StudentData.Models.Studentdata
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Find</title>
    <style>
        h1 {
            font-size: 50px;
            text-align: center;
            color: black;
        }

        body {
            background-image: url("https://media.tegna-media.com/assets/KUSA/images/e01ec00b-44e5-4300-a35c-9f23624d0823/e01ec00b-44e5-4300-a35c-9f23624d0823.jpg");
            height: 1000px; /* You must set a specified height */
            background-position: center; /* Center the image */
            background-repeat: no-repeat; /* Do not repeat the image */
            background-size: cover;
        }

        p {
            font-size: 30px;
            text-align: justify;
            color: black;
        }
    </style>
</head>
<body>
    <h1>Update Event Details</h1>
    <div>
        @using (Html.BeginForm())
        {
            <p> Participant Id: @Html.EditorFor((m) => m.stuid)</p>
            <p> Participant Name: @Html.EditorFor((m) => m.stufname)</p>
            <p> Participant Name: @Html.EditorFor((m) => m.stumname)</p>
            <p> Participant Name: @Html.EditorFor((m) => m.stulname)</p>
            <p> Participant Address: @Html.EditorFor((m) => m.stuaddress)</p>
            <p> Participant Phone: @Html.EditorFor((m) => m.stuphone)</p>
            <p> Event Name: @Html.EditorFor((m) => m.studob)</p>
            <p> Event Place: @Html.EditorFor((m) => m.stucourse)</p>
            <p> Event Date: @Html.EditorFor((m) => m.stuyear)</p>

            <button>Save Changes</button>
        }
    </div>
</body>
</html>

